<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle" src="../../../img/chefs/1.jpg" alt="Generic placeholder image" width="140"
                 height="140">
            <h2>Head Chef</h2>
            <p>Head chefs mostly work in the back-of-house. They take part in the creation of recipes and the
                preparation of advanced items, while assigning less complicated tasks to sous chefs and cooks. A primary
                duty is the continued efficiency of the kitchen and production of consistent, quality food.</p>
            <p><a class="btn btn-secondary" href="http://v4-alpha.getbootstrap.com/examples/carousel/#" role="button">View
                details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="../../../img/chefs/2.jpg" alt="Generic placeholder image" width="140"
                 height="140">
            <h2>Sous Chef</h2>
            <p>A Sous Chef is the culinary chef located just below the executive or head chef in a kitchen's chain of
                command. Therefore, the Sous Chef has a vital role in any commercial kitchen. As second-in-command,
                he/she has a large amount of responsibility in the kitchen.Our Sous Chef is Sanchi who is crazy</p>
            <p><a class="btn btn-secondary" href="http://v4-alpha.getbootstrap.com/examples/carousel/#" role="button">View
                details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="rounded-circle" src="../../../img/chefs/3.jpg" alt="Generic placeholder image" width="140"
                 height="140">
            <h2>Dietician</h2>
            <p>Dietitians promote good dietary health and treat medical conditions by devising eating plans for patients
                based on the science of nutrition. You may be able to access NHS funding, whether your course is
                undergraduate or postgraduate.This guy need rest.</p>
            <p><a class="btn btn-secondary" href="http://v4-alpha.getbootstrap.com/examples/carousel/#" role="button">View
                details »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Signature Dish!<span class="text-muted">They'll call you come&back!</span>
            </h2>
            <p class="lead">Signature dish is a recipe that identifies an individual chef. Ideally it should be unique
                and allow an informed gastronome to name the chef in a blind tasting. It can be thought of as the
                culinary equivalent of an artist finding their own style, or an author finding their own voice.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="../../../img/dish/dish1.jpg"
                 data-holder-rendered="true" style="width: 500px; height: 500px;">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 push-md-5">
            <h2 class="featurette-heading">Lunch Special! <span class="text-muted">Coming soon!</span></h2>
            <p class="lead">Because our restaurant was family owned, in a small Maine community, the menu offers a lot
                of familiar foods, like salads and burgers, but with our own special touches, including locally
                purchased foods whenever possible. Local foods makes your menu stand out and above chain restaurants,
                and it adds a perception of value to the meal - meaning people are willing to pay more for locally
                produced food. We integrated local beer, and lobster - a Maine specialty. </p>
        </div>
        <div class="col-md-5 pull-md-7">
            <img class="featurette-image img-fluid mx-auto" alt="500x500" src="../../../img/dish/dish2.jpg"
                 data-holder-rendered="true" style="width: 500px; height: 500px;">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Everyone Enjoyed! <span class="text-muted">They small!</span></h2>
            <p class="lead">Happiness is a mental or emotional state of well-being defined by positive or pleasant
                emotions ranging from contentment to intense joy. ... A variety of biological, psychological, economic,
                religious and philosophical approaches have striven to define happiness and identify its sources.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" alt="500x500" src="../../../img/dish/dish3.jpg"
                 data-holder-rendered="true" style="width: 500px; height: 500px;">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div>